<html>
<head>
  <title><%= name %></title>
  <link rel="stylesheet" href="<%= css_asset %>" type="text/css">
  <script type="text/javascript" src="<%= js_asset %>"></script>
</head>
<body>
  <%= content %>
</body>
</html>
